---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            processEscapes: true
          }
        });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
{% include meta_tags/base.html %}
{% include externals/styling.html %}
</head>
<body>
<div class="wrapper">
{% include header.html %}
{{ content }}
<br>
{% if page.comments %}
{% include post/disqus.html %}
{% endif %}
<br>
{% include page/about.html %}
</div>
</body>
</html>